.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom right, var(--accent)55%, var(--light));
  color: var(--text);
  padding: 0.1rem 5rem;
}

.nav-links a {
  color: var(--text);
  margin-left: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}
