.sidebar {
  min-width: 180px;
  background-image: linear-gradient(to bottom right, var(--accent)55%, var(--light));
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sidebar a {
  color: var(--text);
  margin: 0.5rem 0;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}
